# Roblox Studio local lock files
*.rbxl.lock
*.rbxm.lock

# OS/editor noise
.DS_Store
*.swp

# Project place file
/src.rbxlx
/build/
/Packages/

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock


.env.local
.env
